@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --text-color: #a1a1aa;
  /* zinc-400 */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-black text-zinc-400;
}

/* Apple Glass Utility */
.glass {
  @apply backdrop-blur-xl bg-black/50 border-b border-white/5;
}

@layer utilities {

  /* Hide Scrollbar but keep functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}